<div class="pt-3 d-inline-flex">
  <%= render 'layouts/messages' %>
</div>

<% if @friend %>
  <div class="pt-3 d-inline-flex">
    <div class="card">
      <div class="card-header results-block">
        <strong>Email: </strong> <%= @friend %>
        <strong>First Name: </strong> <%= @friend %>
        <strong>Last Name: </strong> <%= @friend %>
        <% if 1==2 %>
          <%= link_to 'Add to friends list',
                      '#',
                      method: :post,
                      class: 'btn btn-success ms-2'
          %>
        <% else %>
          <span class="badge text-bg-primary ms-2">
            You are already following this friend
          </span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>